 .note-container{
    height: 100%;
 }

.note-container h2 {
   margin-bottom: 20px;
   color: crimson;
   font-style: italic;
   font-weight: 900px;
}

 .note-conatiner_notes{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;
 }